.requests-table {
  /* background-color: red; */
  /* width: 70%; */
  /* margin: 0 auto; */

  /* border: 1px solid #ccc; */
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;

}

th {
  font-size: 2rem;
  /* font-size: 1.8rem; */
  /* border: 1px solid #ccc; */
  text-align: center;
  background-color: #eee;
}

tr {
  cursor: pointer;
  /* border: 1px solid black; */

  transition: all 0.4s;
}

td,
button {
  padding: 0.5rem;
  /* border: 1px solid black; */
}

